<nav class="navbar border-bottom sticky-top navbar-expand-md" style="background-color: #ffffff;" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand " href="/listing">
      <i class="fa-brands fa-airbnb fa-2xl fa-flip" style="color: #ff0000;"></i>
      <p style="color: #ff0000;"class="m-0 ms-2"><b>Wonderlust</b></p>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if (currentUser) { %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="user nav-link">
            <i class="fa-regular fa-user fa-sm" style="color: #ff3d3d;"></i><%=currentUser.username%>
          </div>
        </li>
      </ul>
      <% } %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <div class="explore nav-link">
            <a class="nav-link" href="/listing">Explore</a>
          </div>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <div class="search-bar ">
          <input class="search form-control" type="search" placeholder="Search" aria-label="Search"/>
          <button class="search-btn" type="submit"><i class="fa-solid fa-magnifying-glass fa-sm"></i></button>
        </div>
      </form>
      <div class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/listing/new">Airbnb your Home</a>
          </li>
          <% if (currentUser) { %>
              <b><a class="nav-link" href="/logout">Logout</a></b>
            <% } else { %>
              <b><a class="nav-link" href="/signup">SignUp</a></b>
              <b><a class="nav-link" href="/login">Login</a></b>
          <% } %> 
      </div>
    </div>
  </div>
</nav>
