<% layout("/layouts/boilerplate") %>
    <div class="login-page mb-3">
        <div class="log col-10">
            <h1>Login on Wanderlust</h1>
            <form action="/login" method="post" class="needs-validation"autocomplete="on" novalidate>
                <div class="mb-3">o
                    <label for="username" class="form-label">Username</label>
                    <input name="username" placeholder="Enter username" type="text" class="form-control" id="username" autocomplete="username" required>
                    <div class="invalid-feedback">Please enter your username</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" placeholder="Enter Password" type="password" class="form-control"id="password" autocomplete="current-password" required>
                    <div class="invalid-feedback">Please enter password</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="container d-flex align-items-center justify-content-between">
                    <button type="submit" class="btn btn-success mb-3">Login</button>
                    <a href="/changePassword" class="mb-3 text-muted text-decoration-none">Forgot password?</a>
                </div>

            </form>
        </div>
    </div>